/* reset browser default values */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* project wide styles */
html,
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #555;
    overflow-x: hidden;
    height: 100%;
    text-rendering: optimizeLegibility;
    text-align: center;
    background-color: #eee;
}

section {
    padding: 40px 0;
}

/* ----- HEADINGS ----- */
h1,
h2{
    font-weight: 300;
    text-transform: uppercase;;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 120%;
    line-height: 175%;
    letter-spacing: 1.1px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    content: "";
    background-color: #e67e22;
}

/* header */
.header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background: #00acc1 !important;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

#navigation-nav {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid hsla(0,0%,100%,.2);
    background-color:#00acc1;
    z-index: 1;
    padding-right: 2px;
}

#navigation-nav ul {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 55px;
    text-decoration: none;
}

#navigation-nav li {
    display: inline-block;
    margin-left: 40px;
}

#navigation-nav img {
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin-left: 30px;
}

#navigation-nav li a:link,
#navigation-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation-nav li a:hover,
#navigation-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

#me {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
    color: #fafafa;
    margin: 0 auto;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#details {
    width: 750px;
    background: #383737;
    color: #fafafa;
    margin: 0 auto;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    padding: 40px;
    font-size: 15px;
    border-radius: 5px;
}

/* technical skills section*/
.section-technical {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-technical h3 {
    border-bottom: 2px solid hsla(0,0%,100%,.7);
}

.technical-box {
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    background-color: #00acc1;
    color: #f4f4f4;
}
        
.technical-box:hover {
    transform: translateY(-1rem);
}

/* projects section*/
.section-projects {
    background-color:  #fff;
    transform: skewY(-5deg);
    margin-bottom: 100px;
}

.projects {
    transform: skewY(5deg);
    margin-bottom: 100px;
}

.card {
    background-color: #eee;
    transition: 1s;
    perspective: 1000px;
}

.card:hover {
    transform: rotateY(-180deg);
}


/* experience section */
.experience_story {
    margin: 0 auto;
    margin-bottom: 5rem;
}

.experience {
    width: 1094.44px;
    height: 322px;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(#000, .1);
    background-color: #fff;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
}

.experience__shape {
    width: 180px;
    height: 180px;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.experience__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
}

.experience__text {
    height: 178px;
    width: 846px;
    transform: skewX(12deg);
}

.experience__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.experience:hover .experience__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.experience:hover .experience__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
}

/* footer */
footer {
    background: #00acc1 !important;
    color: #fff;
}

.footer {
    text-align: left;
    margin-left: 10%;
}
.footer-nav h3 a {
    border-bottom: 2px solid #e67e22;
}

 ul {
    list-style: none;
}

footer p {
    text-align: center;
    width: 100%;
}

.fa-github {
    color:  #3E2C00;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #d62976;
}
.fa-linkedin {
    color: #0e76a8;
}

.fa-youtube {
    color: #c4302b
}

.fa-envelope {
    color: #fff;
}

.fa-phone {
    color: #000;
}

.fa-whatsapp {
    color: #075E54;
}

.fa-home {
    color: #c90016;
}